#header{
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #eeeeee;
    top: 0px;
    left: 0px;
    z-index: 1;
}

@media (max-width: 500px){

    
    #header{
        flex-direction: column;
        align-items: center;
        height: 160px;
    }
    nav{
        max-height: 125px;
    }
    #header-img{
        min-height: 75px;
    }
}

body{
    font-family: 'Baloo Tamma 2', cursive;
    background-color: #eeeeee;
}

#header-img{ 
    max-height: 100px;       
}

.nav-link{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
#nav-list{
    list-style-type: none;
    padding-left: 0px;    
}

#nav-list li{
    display: inline;
    padding-right:10px ;
    
}

@media (max-width: 550px){
    #nav-list{
        margin: 0px;
    }
    #nav-list li{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    #nav-list a{
        padding: 5px 0px;
    }
}

.nav-link:hover{
    color: gray;
}

.nav-link:active{
    color: hotpink;
}
#page{
    justify-self: center;
    max-width: 900px;
    margin-top: 100px;
    
}
@media(max-width: 500px){
    #page{
        margin-top: 160px;
    }
}
#page-container{
    display: flex;
    justify-content: center;
    
}

#pricing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-info{
    max-width: 280px;
    min-width: 200px;
    margin: 10PX;
    border: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 660px){
    #pricing{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

h3{
    margin: 0px;
    text-align: center;
}

.product-name{
    background-color: gray;
}

.product-desc{
    height: 100px;
}
.button{
    background-color: yellow;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

.button:hover{
    background-color: orange;
}

.button:active{
    background-color: hotpink;
}

#form{
    text-align: center;
}

#footer{
    background-color: gray;
    font-size: 8pt;
}

#video-div{
    text-align: center;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

#rickroll{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

#info-list{
    text-align: center;
}

#contact{
    text-align: center;
}