#header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-img{
    height: 100%;
    
}

.nav-link{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.nav-link:hover{
    color: gray;
}

.nav-link:active{
    color: hotpink;
}
#page{
    justify-self: center;
    max-width: 900px;
}
#page-container{
    display: flex;
    justify-content: center;
}

#pricing{
    display: flex;
    flex-direction: row;
}

.product-info{
    max-width: 200px;
    padding: 50px;
    border: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}