#header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-img{
    height: 100%;
    
}

.nav-link{
    color: black;
    text-decoration: none;
}